<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">

		<parameter name="SearchMobiles" value="poco mobiles"></parameter>

		<groups>
			<run>
				<include name="default"></include>
				<include name="smoke"></include>
			</run>
		</groups>

		<classes>
			<class name="com.flib.setpinto.MobileSearch" />
		</classes>


	</test> <!-- Test -->
</suite> <!-- Suite -->
